<div class="container">
    <div class="titulo" routerLink="/">ROBOZINHO</div>
    <div class="container-nav">
        <div>Opções </div>
        <div class="container-lista">
            <nav>
                <ul>
                    <li routerLink="/dfe">DFe</li>
                    <li routerLink="/solfis">SOLFIS</li>
                    <li routerLink="/sfw">SFW</li>
                    <li routerLink="/reinf">REINF</li>
                    <li routerLink="/integracoes">Integrações</li>
                </ul>
            </nav>
        </div>
    </div>
</div>
